main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 90%;
}
h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: orange;
}
h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}
body {
    background-image: url();
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    color: white;
    padding: 15px;
}
.select {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: wheat;
    color: white;
    padding: 15px;
} 
.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    padding: 15px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
} 
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
} 
label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: medium;
    color: orange;
}
#imagediv {
    display: flex;
    justify-content: center;
}
a.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: wheat;
    background-color: orange;
    padding: 10px;
}
