body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-size: 100% 100%;
}


#br-west {
    background-color: black;
    color: beige;
}

#brQuote{
    width: 200px;
}

#brQuoteDiv{
    display: flex;
    justify-content: center;
}

#br-says{
    margin-top: 50px;
}

#brPic {
    width: 70px;
    height: 70px;
}

#brPic {
    background-color: gold;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: 0.7s;
}

.whereHeDiv{
    height: 200px;
    width: 200px;
}


#changeBGDiv{
    display: flex;
    justify-content: flex-end;
}

#changeBG{
    margin: 15px;
}

